<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
      <c-card class="mb-4">       

        <c-card-header>
          <strong>Change Password</strong>
        </c-card-header>
        <c-card-body>

          <!-- <c-alert color="success" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="displayMessage!=''">
            <div>{{displayMessage}}</div>
          </c-alert>
  
          <c-alert color="danger" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="errorMessage!=''">
            <div>{{errorMessage}}</div>
          </c-alert> -->

            <form cForm [formGroup]="editForm" (ngSubmit)="changePassword()">

            <div class="mb-3">
                    <label cLabel for="exampleFormControlInput3">Old Password</label>
                    <input cFormControl
                           placeholder="Old Password"
                           type="password"
                           formControlName="old_password"
                    />
    
                    <div class="error">
                        <p *ngIf="editForm.get('old_password').errors?.required && (editForm.get('old_password').dirty || editForm.get('old_password').touched)" class="error">Please enter old password.</p>
                    </div>

            </div>
             
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput3">New Password</label>
                <input cFormControl
                       placeholder="New Password"
                       type="password"
                       formControlName="new_password"
                />

                <div class="error">
                    <p *ngIf="editForm.get('new_password').errors?.required && (editForm.get('new_password').dirty || editForm.get('new_password').touched)" class="error">Please enter new password.</p>
                    <p *ngIf="editForm.get('new_password').errors?.pattern && (editForm.get('new_password').dirty || editForm.get('new_password').touched)" class="error">Password should be minimum 8 character including one number, one capital letter and one special character.</p>
                </div>

              </div>

              <div class="mb-3">
                <label cLabel for="exampleFormControlInput3">Confirm New Password</label>
                <input cFormControl
                       placeholder="Confirm Password"
                       type="password"
                       formControlName="confirm_passwprd"
                />

                <div class="error">
                        <p *ngIf="editForm.get('confirm_passwprd').errors?.required && (editForm.get('confirm_passwprd').dirty || editForm.get('confirm_passwprd').touched)" class="error">Please enter confirm password.</p>
                        <p *ngIf="editForm.get('confirm_passwprd').errors?.mustMatch && (editForm.get('confirm_passwprd').dirty || editForm.get('confirm_passwprd').touched)" class="error">Confirm Password doesn't match</p>
                </div>
              </div>

              <button 
              cButton
              class="me-1"
              [disabled]="!editForm.valid"
              type="submit"
                >
                Save
            </button>


            </form>
        </c-card-body>
      </c-card>
    </c-col>



  </c-row>
  
  