<div class="backbutton">
    <button cButton class="me-1" routerLink="/dashboard">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To Dashboard
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <div class="search-element page_search_block">
            <div class="searchval">
                <input cFormControl placeholder="Search by name" type="text" (input)="changeSearchType($event)" [(ngModel)]="searchVal"/>
            </div>
            <div class="searchbutton">
                <button class="button_appearance_none search_btn_icon" >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong>Course Enquiry List</strong>
                        </div>
                        <div class="section_title_block_right">
                            <button cButton class="me-1" routerLink="/enquiry/create">
                                Add Details
                            </button>
                        </div>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white"><c-spinner></c-spinner></p>
                </ngx-spinner>
                <div class="table_resposive_block">
                    <table cTable>
                        <thead>
                            <tr>
                                <th scope="col" class="table_th">SI No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Company</th>
                                <th scope="col" class="table_text_center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData; let i= index">
                                <th scope="row">{{((activePage-1)*recordsPerPage)+(i+1)}}</th>
                                <td>{{item.full_name ? item.full_name : 'N/A'}}</td>
                                <td>{{item.email ? item.email : 'N/A'}}</td>
                                <td>{{item.company ? item.company : 0}}</td>
                                <td>
                                    <div class="table_action_btn table_text_center">
                                        <a class="table_icon_btn" [routerLink]="['/enquiry/view', item._id]" (click)="currentPage()" title="View"><i class="bi bi-eye"></i></a>
                                        <a class="table_icon_btn" [routerLink]="['/enquiry/edit', item._id]" (click)="currentPage()" title="Edit"><i class="bi bi-pencil"></i></a>
                                        <!-- <a class="table_icon_btn" (click)="delete(item._id)" style="cursor: pointer;" title="Delete"><i class="bi bi-trash"></i></a> -->
                                        <button class="button_appearance_none table_icon_btn" title="Create Corporate User" [routerLink]="['/enquiry/corporate-user', item._id]">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="!listData?.length">
                                <td colspan="6">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </c-card-body>
            <c-card-footer *ngIf="listData?.length > 0">
                <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="getList($event)">
                </app-pagination>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
