.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  .form-check {
    padding: 5px 10px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .dropdown-btn.active {
    background-color: #f0f0f0;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 1;
  }
  
  .dropdown-content div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .dropdown-content div:hover {
    background-color: #f1f1f1;
  }
  
  .icon-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px; /* spacing between different icon-radio-option blocks */
  }
  
  .icon-radio-option {
    display: flex;
    align-items: center;
  }
  
  .icon-radio-option input {
    margin-right: 8px; /* this creates the gap between radio and icon */
  }
  
  