<div class="backbutton">
    <button cButton class="me-1" routerLink="/blog/blog-list">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To List
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong *ngIf="!detailsId">Add Details</strong>
                <strong *ngIf="detailsId">Edit Details</strong>
              </c-card-header>
              <c-card-body>

                <c-alert color="success" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="displayMessage!=''">
                    <div>{{displayMessage}}</div>
                </c-alert>
                <c-alert color="danger" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="errorMessage!=''">
                    <div>{{errorMessage}}</div>
                </c-alert>

                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white"><c-spinner></c-spinner></p>
                </ngx-spinner>

                <form [formGroup]="addEditForm" (ngSubmit)="add()">
                    <div class="mb-3">
                        <label cLabel>Blog Title *</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Blog Title"
                           type="text"
                           formControlName="title"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('title')?.errors?.['required'] || addEditForm.get('title')?.errors?.['pattern']) && (addEditForm.get('title')?.dirty || addEditForm.get('title')?.touched)" class="error">Please enter blog title.</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Blog Description *</label>
                        <ckeditor class="input_appearance_none editWeb_textArea" formControlName="description" [config]="editorConfig"></ckeditor>
                        <div class="error">
                            <p *ngIf="(addEditForm.get('description')?.errors?.['required'] || addEditForm.get('description')?.errors?.['pattern']) && (addEditForm.get('description')?.dirty || addEditForm.get('description')?.touched)" class="error">
                                Please enter blog description.
                            </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Blog Category*</label>
                        <select aria-label="Default select example" cSelect formControlName="categoryId">
                            <option value="" hidden disabled>Select Blog Category</option>
                            <option *ngFor="let blogCategory of blogCategoryList" [value]="blogCategory._id">{{ blogCategory.name }}</option>
                        </select>
                        <div class="error">
                          <p
                            *ngIf="(addEditForm.get('categoryId')?.errors?.['required'] || addEditForm.get('categoryId')?.errors?.['pattern']) && 
                                  (addEditForm.get('categoryId')?.dirty || addEditForm.get('categoryId')?.touched)"
                            class="error">
                            Please select blog category.
                          </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Author *</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Author"
                           type="text"
                           formControlName="author"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('author')?.errors?.['required'] || addEditForm.get('author')?.errors?.['pattern']) && (addEditForm.get('author')?.dirty || addEditForm.get('author')?.touched)" class="error">Please enter author.</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Date *</label>
                        <input
                          cFormControl
                          placeholder="Enter Date"
                          type="date"
                          formControlName="date"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('date')?.errors?.['required'] || addEditForm.get('date')?.errors?.['pattern']) && (addEditForm.get('date')?.dirty || addEditForm.get('date')?.touched)" class="error">Please enter date.</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Meta Title *</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Meta Title"
                           type="text"
                           formControlName="meta_title"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('meta_title')?.errors?.['required'] || addEditForm.get('meta_title')?.errors?.['pattern']) && (addEditForm.get('meta_title')?.dirty || addEditForm.get('meta_title')?.touched)" class="error">Please enter meta title.</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel >Meta Description *</label>
                        <ckeditor class="input_appearance_none editWeb_textArea" formControlName="meta_description" [config]="editorConfig"></ckeditor>
                        <div class="error">
                            <p *ngIf="(addEditForm.get('meta_description')?.errors?.['required'] || addEditForm.get('meta_description')?.errors?.['pattern']) && (addEditForm.get('meta_description')?.dirty || addEditForm.get('meta_description')?.touched)" class="error">
                                Please enter meta description.
                            </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel>Meta Keywords *</label>
                        <input
                          cFormControl
                          placeholder="Enter Meta Keywords"
                          type="text"
                          formControlName="meta_keywords"
                          
                        />
                        <p *ngIf="(addEditForm.get('meta_keywords')?.errors?.['required'] || addEditForm.get('meta_keywords')?.errors?.['pattern']) && (addEditForm.get('meta_keywords')?.dirty || addEditForm.get('meta_keywords')?.touched)" class="error">
                            Please enter meta Keywords.
                        </p>
                    </div>

                    <div class="mb-3">
                        <label cLabel >To Show on Which Hub Page: </label>
                        <select aria-label="Default select example" cSelect formControlName="course_category">
                            <option value="">Select Hub Page</option>
                            <option *ngFor="let category of categoryList" [value]="category._id">{{ category.name }}</option>
                        </select>
                        <!-- <div class="error">
                          <p
                            *ngIf="(addEditForm.get('course_category')?.errors?.['required'] || addEditForm.get('course_category')?.errors?.['pattern']) && 
                                  (addEditForm.get('course_category')?.dirty || addEditForm.get('course_category')?.touched)"
                            class="error">
                            Please select course category.
                          </p>
                        </div> -->
                    </div>

                    <div class="mb-3">
                        <label cLabel>Course Type</label>
                        <select aria-label="Default select example" cSelect formControlName="course_type">
                            <option value="">Select Course Type</option>
                            <option *ngFor="let type of typeList" [value]="type.value">  {{ type.name }}</option>
                        </select>
                        <!-- <div class="error">
                          <p
                            *ngIf="(addEditForm.get('course_type')?.errors?.['required'] || addEditForm.get('course_type')?.errors?.['pattern']) && 
                                  (addEditForm.get('course_type')?.dirty || addEditForm.get('course_type')?.touched)"
                            class="error">
                            Please select course type.
                          </p>
                        </div> -->
                    </div>

                    <!-- <div class="mb-3">
                        <label cLabel>Blog Type *</label>
                        <select aria-label="Default select example" cSelect formControlName="blog_type">
                            <option value="" hidden disabled>Select Blog Type</option>
                            <option *ngFor="let blogType of blogTypeList" [value]="blogType._id">  {{ blogType.name }}</option>
                        </select>
                        <div class="error">
                          <p
                            *ngIf="(addEditForm.get('blog_type')?.errors?.['required'] || addEditForm.get('blog_type')?.errors?.['pattern']) && 
                                  (addEditForm.get('blog_type')?.dirty || addEditForm.get('blog_type')?.touched)"
                            class="error">
                            Please select blog type.
                          </p>
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <label cLabel >Blog Type *</label>
                        <ng-multiselect-dropdown
                          [placeholder]="'Select Blog Type'"
                          [data]="blogTypeList || []"
                          [settings]="dropdownSettings_blog_type"
                          formControlName="blog_type">
                        </ng-multiselect-dropdown>
      
                        <div class="error">
                            <p
                                *ngIf="(addEditForm.get('blog_type')?.errors?.['required'] || addEditForm.get('blog_type')?.errors?.['pattern']) && 
                                    (addEditForm.get('blog_type')?.dirty || addEditForm.get('blog_type')?.touched)"
                                class="error">
                                Please select blog type.
                            </p>
                        </div>
                      </div>
                    

                    <div class="mb-3">
                        <label cLabel>Image *</label>
                        <input cFormControl  type="file" formControlName="blogImage" accept="image/*" (change)="onImageSelected($event)"/>
                    </div>
                    <div *ngIf="imagePreview" class="image-preview mb-3">
                        <img [src]="imagePreview" alt="Preview" class="imgVideo_box" style="max-width: 200px; max-height: 200px;" />
                    </div>

                    <div class="mb-3">
                        <label cLabel>Video</label>
                        <input cFormControl  type="file" formControlName="blogVideo" accept="video/*" (change)="onvideoSelected($event)"/>
                    </div>
                    <div *ngIf="videoPreview" class="video-preview mb-3">
                        <video [src]="videoPreview" controls class="imgVideo_box" style="max-width: 200px; max-height: 200px;"></video>
                    </div>

                    <div class="mb-3">
                        <label cLabel >Time To Read *</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Time To Read"
                           type="text"
                           formControlName="timetoread"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('timetoread')?.errors?.['required'] || addEditForm.get('timetoread')?.errors?.['pattern']) && (addEditForm.get('timetoread')?.dirty || addEditForm.get('timetoread')?.touched)" class="error">Please enter time to read.</p>
                        </div>
                    </div>

                   

                    <button 
                        cButton
                        class="me-1"
                        type="submit"
                        [disabled]="!addEditForm.valid"
                    >
                        Save
                    </button>
                </form>
              </c-card-body>
        </c-card>
    </c-col>
</c-row>