.h1, h1 {
    font-family: Avenir Next,Helvetica,sans-serif;
    font-size: 27.9841px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 0 0 2rem;
    text-transform: uppercase;
    text-align: center;
}

.template-page .main-content {
    // margin-bottom: 0;
    // margin-top: 0;
    // padding: 10;
    margin: 22px 33px 0px;
}