<div class="template-page">
  <div class="main-content main-content--read-view">
    <h1>Delete Account</h1>

    <div class="rte">
      <meta charset="utf-8">
      <meta charset="utf-8">
      <meta charset="utf-8">
      <h1></h1>
      <meta charset="utf-8">


      <h2>1. Delete Account</h2>
      <p>We understand that you may wish to delete your account and ensure your data privacy. To proceed with the
        deletion of your account, please follow the steps below:</p>
      <p>Open Kordie App.</p>

      <ul>
        <li>Navigate to the user dashboard and Locate "Delete Account" button.</li>
        <li>Tap on it to delete your account.</li>
        <li>Once confirmed, your account will be deleted from our database.</li>
      </ul>

      <h2>2. Data Retention</h2>
      <p>Upon deleting your account, the following types of data will be deleted:</p>
      <ul>
        <li>Personal information such as your name, email address, and any other details provided during registration.
        </li>
        <li>Any content or data associated with your account within the app.</li>
      </ul>

      <h2>3. Retention Period</h2>
      <p>We do not retain any data after your account deletion request has been processed.</p>
      
    </div>
  </div>
</div>