.error 
{
        color: red;
        //position: absolute;
        // margin-top: 24px;
}

.error-msg
{
    color: red;
    text-align : center;
}

.display-msg
{
    color: green;
    text-align : center;
}