<c-row ngPreserveWhitespaces>
  <c-col xs="12">
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Edit Profile</strong>
      </c-card-header>
      <c-card-body>

        <c-alert color="success" class="d-flex align-items-center" *ngIf="checkMessage()" fade
          [visible]="displayMessage!=''">
          <div>{{displayMessage}}</div>
        </c-alert>

        <c-alert color="danger" class="d-flex align-items-center" *ngIf="checkMessage()" fade
          [visible]="errorMessage!=''">
          <div>{{errorMessage}}</div>
        </c-alert>

        <form cForm [formGroup]="editForm" (ngSubmit)="updateUser()">
          <div class="mb-3">
            <label cLabel  >First Name *</label>
            <input cFormControl id="exampleFormControlInput1" placeholder="First Name" type="text"
              formControlName="first_name" [(ngModel)]="profileData.first_name" />

            <div class="error">
              <p *ngIf="editForm.get('first_name').errors?.required && (editForm.get('first_name').dirty || editForm.get('first_name').touched)"
                class="error">Please enter first name.</p>
            </div>

          </div>

          <div class="mb-3">
            <label cLabel  >Last Name *</label>
            <input cFormControl id="exampleFormControlInput1" placeholder="Last Name" type="text"
              formControlName="last_name" [(ngModel)]="profileData.last_name" />

            <div class="error">
              <p *ngIf="editForm.get('last_name').errors?.required && (editForm.get('last_name').dirty || editForm.get('last_name').touched)"
                class="error">Please enter last name.</p>
            </div>

          </div>

          <div class="mb-3">
            <label cLabel for="exampleFormControlInput2">Email *</label>
            <input cFormControl readonly id="exampleFormControlInput2" placeholder="Email" type="email"
              formControlName="email" [(ngModel)]="profileData.email" />

            <div class="error">
              <p *ngIf="editForm.get('email').errors?.required && (editForm.get('email').dirty || editForm.get('email').touched)"
                class="error">Please enter valid email.</p>
            </div>

          </div>
          <div class="mb-3">
            <label cLabel for="exampleFormControlInput3">Phone *</label>
            <input cFormControl id="exampleFormControlInput3" placeholder="Phone" type="text" formControlName="phone"
              [(ngModel)]="profileData.phone" />

            <div class="error">
              <p *ngIf="editForm.get('phone').errors?.required && (editForm.get('phone').dirty || editForm.get('phone').touched)"
                class="error">Please enter phone.</p>
              <p *ngIf="
        editForm.get('phone').errors?.pattern &&
        (editForm.get('phone').dirty || editForm.get('phone').touched)
      " class="error">
                Invalid phone number format.
              </p>
            </div>

          </div>

          <div class="mb-3">
            <label cLabel for="exampleFormControlInput2">Notify Email *</label>
            <input cFormControl  id="exampleFormControlInput2" placeholder="Notify Email" type="notify_email"
              formControlName="notify_email" [(ngModel)]="profileData.notify_email" />

            <div class="error">
              <p *ngIf="editForm.get('notify_email').errors?.required && (editForm.get('notify_email').dirty || editForm.get('notify_email').touched)"
                class="error">Please enter valid notify email.</p>
            </div>

          </div>
          <button cButton class="me-1" [disabled]="!editForm.valid" type="submit">
            Save
          </button>


        </form>
      </c-card-body>
    </c-card>
  </c-col>



</c-row>