<div class="backbutton">
    <button cButton class="me-1" routerLink="/dashboard">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To Dashboard
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <div class="search-element page_search_block">
            <div class="searchval">
                <input cFormControl placeholder="Search by blog title" type="text" (input)="changeSearchType($event)" [(ngModel)]="searchVal"/>
            </div>
            <div class="searchbutton">
                <button class="button_appearance_none search_btn_icon" (click)="getList()" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong>Blog List</strong>
                        </div>
                        <div class="section_title_block_right">
                            <button cButton class="me-1" routerLink="/blog/add-blog">
                                Add Blog
                            </button>
                        </div>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white"><c-spinner></c-spinner></p>
                </ngx-spinner>
                <div class="table_resposive_block">
                    <table cTable>
                        <thead>
                            <tr>
                                <th scope="col" class="table_th">SI No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Image</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Description</th>
                                <th scope="col">Feature</th>
                                <th scope="col" class="table_text_center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData; let i= index">
                                <th scope="row">{{((activePage-1)*recordsPerPage)+(i+1)}}</th>
                                <td>{{item.title ? item.title : 'N/A'}}</td>
                                <td>
                                    <div class="table_td_img">
                                        <img [src]="item.image ? item.image : 'assets/kordie-admin-image/no-image-found-01.png'">
                                    </div>
                                </td>
                                <td>{{item.slug ? item.slug : 'N/A'}}</td>
                                <td>
                                    <div class="td_blogDes_block" *ngIf="item.description; else noDescription">
                                      <!-- Render images -->
                                      <ng-container  *ngIf="isHtmlContent(item.description)">
                                        <span class="table_td_des_img">
                                            <img
                                            *ngFor="let imgSrc of extractImages(item.description)"
                                            [src]="imgSrc"
                                            alt="Description Image"

                                            />
                                        </span>

                                      </ng-container>
                                      <!-- Render truncated string -->
                                      <span  class="table_td_des_text">{{ truncateText(stripHtml(item.description), 50) }}</span>
                                    </div>
                                    <ng-template #noDescription>N/A</ng-template>
                                </td>
                                <td>
                                    <button
                                      class="btn btn-status-toggle button_appearance_none btn_status"
                                      [ngClass]="{ 'btn_active': item.featured, 'btn_inactive': !item.featured}"
                                      (click)="toggleStatus(item)"
                                       >
                                       {{ item.featured ? 'Active' : 'Inactive' }}
                                    </button>
                                </td>
                                <td>
                                    <div class="table_action_btn table_text_center">
                                        <a class="table_icon_btn" [routerLink]="['/blog/view-blog', item._id]" (click)="currentPage()" title="View">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        <a class="table_icon_btn" [routerLink]="['/blog/edit-blog', item._id]" (click)="currentPage()" title="Edit">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a class="table_icon_btn" (click)="delete(item._id)" style="cursor: pointer;" title="Delete">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="!listData?.length">
                                <td colspan="6">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </c-card-body>
            <c-card-footer *ngIf="listData?.length > 0">
                <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="getList($event)">
                </app-pagination>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
