<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-alert color="success" class="d-flex align-items-center alert-msg" *ngIf="checkMessage()" fade [visible]="displayMessage!=''">
            <div>{{displayMessage}}</div>
          </c-alert>

          <c-alert color="danger" class="d-flex align-items-center alert-msg" *ngIf="checkMessage()" fade [visible]="errorMessage!=''">
            <div>{{errorMessage}}</div>
          </c-alert>
        <c-row class="justify-content-center">
            <c-col md="6">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body class="login-wrapper">
                          <div class="login-logo"><img src="assets/kordie-admin-image/logo.svg" alt="logo" /></div>
                            <form cForm [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                              <h3>Reset <span>Password</span></h3>
                                <!-- <h1>Reset Password</h1> -->
                                <p class="text-medium-emphasis">Give your new password</p>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                      <svg cIcon name="cilUser"></svg>
                                    </span>
                                    <input  type="password" autoComplete="password" cFormControl placeholder="New Password" formControlName="new_password" />  
                                    
                                    <div class="error">
                                      <p *ngIf="resetPasswordForm.get('new_password').errors?.required && (resetPasswordForm.get('new_password').dirty || resetPasswordForm.get('new_password').touched)" >Please enter new password.</p>
                                      <p *ngIf="resetPasswordForm.get('new_password').errors?.pattern && (resetPasswordForm.get('new_password').dirty || resetPasswordForm.get('new_password').touched)" >Password should be minimum 8 character including one number, one capital letter and one special character.</p>
                                    </div>                    
                                </c-input-group>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                      <svg cIcon name="cilUser"></svg>
                                    </span>
                                    <input  type="password" autoComplete="con_password" cFormControl placeholder="Confirm New Password" formControlName="confirm_password" />  
                                    
                                    <div class="error">
                                      <p *ngIf="resetPasswordForm.get('confirm_password').errors?.required && (resetPasswordForm.get('confirm_password').dirty || resetPasswordForm.get('confirm_password').touched)" >Please enter confirm password.</p>
                                      <p *ngIf="resetPasswordForm.get('confirm_password').errors?.mustMatch && (resetPasswordForm.get('confirm_password').dirty || resetPasswordForm.get('confirm_password').touched)" >Confirm Password doesn't match</p>
                                    </div>                   
                                </c-input-group>
                                <c-row>
                                    <c-col xs="6">
                                      <button  type="submit" cButton class="px-4" color="primary" [disabled]="!resetPasswordForm.valid">
                                        Submit
                                      </button>
                                    </c-col>
                                </c-row>
                            </form> 
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>