<div class="backbutton">
    <button cButton class="me-1" routerLink="/section-title-mangement/insights-highlights/list">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To List
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong *ngIf="!detailsId">Add Details</strong>
                            <strong *ngIf="detailsId">Edit Details</strong>
                        </div>
                        <div class="section_title_block_right">
                            
                        </div>
                    </div>
                </div>
                
            </c-card-header>
              <c-card-body>

                <c-alert color="success" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="displayMessage!=''">
                    <div>{{displayMessage}}</div>
                </c-alert>
                <c-alert color="danger" class="d-flex align-items-center" *ngIf="checkMessage()" fade [visible]="errorMessage!=''">
                    <div>{{errorMessage}}</div>
                </c-alert>

                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white"><c-spinner></c-spinner></p>
                </ngx-spinner>

                <form [formGroup]="addEditForm" (ngSubmit)="add()">
                    <div class="mb-3">
                        <label cLabel >Title *</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Title"
                           type="text"
                           formControlName="title"
                        />
                        <div class="error">
                            <p *ngIf="(addEditForm.get('title')?.errors?.['required'] || addEditForm.get('title')?.errors?.['pattern']) && (addEditForm.get('title')?.dirty || addEditForm.get('title')?.touched)" class="error">
                                Please enter title.
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel > Tag*</label>
                        <select aria-label="Default select example" cSelect formControlName="tag">
                            <option value="" hidden disabled>Select Tag</option>
                            <option value="Article">Article</option>
                            <option value="Insight">Insight</option>
                        </select>
                        <div class="error">
                            <p *ngIf="(addEditForm.get('tag')?.errors?.['required'] || addEditForm.get('tag')?.errors?.['pattern']) && (addEditForm.get('tag')?.dirty || addEditForm.get('tag')?.touched)" class="error">Please select media tag.</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel >Description *</label>
                        <ckeditor class="input_appearance_none editWeb_textArea" formControlName="description" [config]="editorConfig"></ckeditor>
                        <div class="error">
                            <p *ngIf="(addEditForm.get('description')?.errors?.['required'] || addEditForm.get('description')?.errors?.['pattern']) && (addEditForm.get('description')?.dirty || addEditForm.get('description')?.touched)" class="error">
                                Please enter description.
                            </p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel >URL</label>
                        <input cFormControl
                           id="exampleFormControlInput2"
                           placeholder="URL"
                           type="text"
                           formControlName="url"
                        />
                    </div>
                    <button 
                        cButton
                        class="me-1"
                        type="submit"
                        [disabled]="!addEditForm.valid"
                    >
                        Save
                    </button>
                </form>
              </c-card-body>
        </c-card>
    </c-col>
</c-row>