<div class="backbutton">
    <button cButton class="me-1" routerLink="/section-title-mangement/we-trusted/list">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To List
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong>View Details</strong>
                        </div>
                        <div class="section_title_block_right">
                        </div>
                    </div>
                </div>
            </c-card-header>
              <c-card-body class="view_page_cardBody">
                <form [formGroup]="viewDetailsForm">
                    <div class="mb-3">
                        <label cLabel  >Title</label>
                        <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="Title"
                           type="text"
                           formControlName="title"
                           readonly
                        />
                    </div>
                    <div class="mb-3">

                        <div class="image-preview mb-3 imgVideo_preview">
                            <label cLabel for="exampleFormControlInput13">Icon</label>
                            <img class="imgVideo_box"  [src]="getDetails?.icon ? getDetails?.icon : 'assets/kordie-admin-image/no-image-found-01.png'">
                        </div>

                    </div>
                    <div class="mb-3">
                        <label cLabel  >Description *</label>
                        <ckeditor class="input_appearance_none editWeb_textArea" formControlName="description" [config]="editorConfig"></ckeditor>
                    </div>
                </form>
              </c-card-body>
        </c-card>
    </c-col>
</c-row>