<div class="backbutton">
    <button cButton class="me-1" routerLink="/dashboard">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To Dashboard
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <div class="search-element page_search_block">
            <div class="searchval">
                <input cFormControl placeholder="Search by industry name" type="text" (input)="changeSearchType($event)" [(ngModel)]="searchVal"/>
            </div>
            <div class="searchbutton">
                <button class="button_appearance_none search_btn_icon" (click)="getList()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong>Industry List</strong>
                        </div>
                        <div class="section_title_block_right">
                            <button cButton class="me-1" routerLink="/master-list/industry-list/add-industry">
                                Add Industry
                            </button>
                        </div>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <div class="table_resposive_block">
                    <table cTable>
                        <thead>
                            <tr>
                                <th scope="col" class="table_th">SI No.</th>
                                <th scope="col">Name</th>
                                <!-- <th scope="col">Status</th> -->
                                <th scope="col" class="table_text_center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData; let i= index">
                                <th scope="row">{{((activePage-1)*recordsPerPage)+(i+1)}}</th>
                                <td>
                                    <span *ngIf="item.name">{{item.name | truncate:35}}</span>
                                    <span *ngIf="!item.name">N/A</span>
                                </td>
                                <!-- <td>{{item.name ? item.name : 'N/A'}}</td> -->
                                <!-- <td>
                                    <button
                                    class="btn btn-status-toggle button_appearance_none btn_status"
                                    [ngClass]="{ 'btn_active': item.is_active, 'btn_inactive': !item.is_active}"
                                    (click)="toggleStatus(item)"
                                     >
                                     {{ item.is_active ? 'Active' : 'Inactive' }}
                                  </button>
                                </td> -->

                                <td>
                                    <div class="table_action_btn table_text_center">
                                        <a class="table_icon_btn" [routerLink]="['/master-list/industry-list/edit-industry', item._id]" (click)="currentPage()" title="Edit">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a class="table_icon_btn" (click)="delete(item._id)" style="cursor: pointer;" title="Delete">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="!listData?.length">
                                <td colspan="4">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </c-card-body>
            <c-card-footer *ngIf="listData?.length > 0">
                <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="getList($event)">
                </app-pagination>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
