<div class="backbutton">
    <button cButton class="me-1" routerLink="/customer-management/list">
      <svg cIcon
          name="cilArrowThickLeft"
          size="sm"
        ></svg> Back To Customer List Page
    </button>
</div>
<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    </c-col>
    <c-col xs="12">
        <!-- <div class="search-element page_search_block">
            <div class="searchval">
                <input cFormControl placeholder="Search here" type="text" (input)="changeSearchType($event)" [(ngModel)]="searchVal"/>
            </div>
            <div class="searchbutton">
                <button class="button_appearance_none search_btn_icon" >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div> -->

        <c-card class="mb-4">
            <c-card-header>
                <div class="sub-head">
                    <div class="section_title_block">
                        <div class="section_title_block_left">
                            <strong>Private Comment Logs</strong>
                        </div>
                        <div class="section_title_block_right">
                            <button cButton class="me-1" [routerLink]="['/customer-management/create-comment', detailsId]">
                                Add Comment
                            </button>
                        </div>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white"><c-spinner></c-spinner></p>
                </ngx-spinner>
                <div class="table_resposive_block">
                    <table cTable>
                        <thead>
                            <tr>
                                <th scope="col" class="table_th">SI No.</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of getData; let i= index">
                                <th scope="row">{{((activePage-1)*recordsPerPage)+(i+1)}}</th>
                                <td>{{item.subject ? item.subject : 'N/A'}}</td>
                                <td>{{item.comment ? item.comment : 'N/A'}}</td>
                            </tr>
                            <tr *ngIf="!getData?.length">
                                <td colspan="5">No Data Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </c-card-body>
            <c-card-footer *ngIf="getData?.length > 0">
                <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="getCommentDetails($event)">
                </app-pagination>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
